<div class="main-div responsive">
  <mat-card class="card responsive">
      <mat-card-header class="header responsive">
        <mat-card-title class="card-title titleResponsive">Librería</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content responsive">
        <img class="img-responsive" src="/assets/img/general/utiles.jpg" alt="">
        <p class="letraResponsive">Venta de útiles escolares, Regalería y Jugetería</p>             
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions class="button responsive">
        <button class="responsive" mat-raised-button (click)="singin()" color="primary">Ingresar o Registrarse</button>        
      </mat-card-actions>
  </mat-card>
  </div>